.footer .small {
  font-family: Poppins;
  font-weight: 300;
  font-size: 12px;
  /* line-height: 100%; */
  letter-spacing: 0%;
  text-align: justify;
}

.footer img {
  text-align: center;
  width: 123.35px;
  height: 81px;
  align-content: center;
  object-fit: none;
  margin-bottom: 10px;
}

.footer h6 {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
}

.footer strong {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 212%;
  letter-spacing: 0%;
}
